.venv/
__pycache__/
*.pyc
*.pyo
*.pyd.cache
huggingface
.cache/huggingface
.env
logs/
uploads/
*.db
*.sqlite
*.pdf
start.txt
tests/
future_improvement.txt
.env
*.log
autogen_archieve/
.vscode/
Docs/
data/